In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\jane barraclough\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\jane barraclough\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jane barraclough\anaconda3\lib\site-packages (4.31.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\jane barraclough\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\jane barraclough\anaconda3\lib\site-packages (from selenium) (0.30.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jane barraclough\anaconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\jane barraclough\anaconda3\lib\site-packages (from selenium) (2024.7.4)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\jane barraclough\anaconda3\lib\site-packages (from selenium) (4.13.2)
Requirement already satisfied: websocket-client~=1.8 in c:\users\jane barraclough\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio~=0.17->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\jane barraclough\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jane barraclough\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\jane barraclough\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jane barraclough\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.16.0)

In [3]:
#https://builtin.com/articles/selenium-web-scraping
#https://brightdata.com/blog/how-tos/using-selenium-for-web-scraping#:~:text=Before%20you%20start%20web%20scraping,Chrome%2C%20Firefox%2C%20and%20Edge.

#Import selenium and other required packages for the scrape
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import pandas as pd
import csv

In [4]:
options = Options()
options.add_argument("--headless")

service = Service("C:/Users/Jane Barraclough/chromedriver.exe")
driver = webdriver.Chrome(service=service, options=options)

In [5]:
url = "https://howstat.com/Cricket/Statistics/Matches/MatchListCountry.asp?A=NZL&B=XXX&C=XXX"
driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')
driver.quit()

In [6]:
#I know I need table 5 for my analysis from the previous scrape attempt
tables = soup.find_all('table')
match_table = tables[5]
rows = match_table.find_all('tr')

In [7]:
print(len(rows))

479

In [8]:
header_row = rows[0]
headers = [cell.text.strip() for cell in header_row.find_all(['th', 'td'])]
print(headers)

['', 'Date', 'Series', 'Ground', 'Result']

In [9]:
data_rows = []

for row in rows[1:]:
    cells = [cell.text.strip() for cell in row.find_all(['th', 'td'])]
    if cells:
        data_rows.append(cells)

print(data_rows[0:4])

[['1', '10/01/1930', '1929-1930 New Zealand v. England', 'AMI Stadium', 'England won by 8 wickets'], ['2', '24/01/1930', '1929-1930 New Zealand v. England', 'Basin Reserve', 'Match Drawn'], ['3', '14/02/1930', '1929-1930 New Zealand v. England', 'Eden Park', 'Match Drawn'], ['4', '21/02/1930', '1929-1930 New Zealand v. England', 'Eden Park', 'Match Drawn']]

In [10]:
df = pd.DataFrame(data_rows, columns=headers)
df.columns = ['Test Number', 'Date', 'Series', 'Ground', 'Result']
df.head()

,Test Number,Date,Series,Ground,Result
0,1,10/01/1930,1929-1930 New Zealand v. England,AMI Stadium,England won by 8 wickets
1,2,24/01/1930,1929-1930 New Zealand v. England,Basin Reserve,Match Drawn
2,3,14/02/1930,1929-1930 New Zealand v. England,Eden Park,Match Drawn
3,4,21/02/1930,1929-1930 New Zealand v. England,Eden Park,Match Drawn
4,5,27/06/1931,1931 England v. New Zealand,Lord's,Match Drawn

In [11]:
df.to_csv('../data/new_zealand_match_results.csv', index=False)